@import 'blocks/navbar';
@import 'blocks/hero';
@import 'blocks/list-content';
@import 'blocks/carousel';
@import 'blocks/subject';
@import 'blocks/footer';

.button {
    width: 144px;
    height: 54px;
    color: $text-color;
    background: $button-bg-color;
    border-radius: 6px;
    border: none;
  }

  
@media only screen and (max-width: 480px) {
    .button {
      width: 120px;
      height: 42px;
      font-size: 14px;
    }
  }

.title{
  font-size: 74px;
  line-height: 80px;
  font-family: $text-font-family;
}