
.carousel{
  background: $section-bg-color;
  height: 912px;
  overflow-x: hidden;
  font-family: $text-font-family;
  .title{
    text-align: center;
    color: $text-color;
    padding-top: 119px;
  }
  .slider{
    background: #FFFFFF;
    border-radius: 40px;
    width: 864px;
    margin-top: 57px;
    padding: 120px 80px;
    margin-bottom: 30px;
  }
  #slider-one{
    height: 448px;
    transform: translateX(-85%);
    p{
      width: 700px;     
      height: 254px;
      left: 80px;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: $section-bg-color;
    }
  }
  #slider-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 75px 80px;
    transform: translateX(-25%);
    background: #D2EBD5;
    p {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: $section-bg-color;
    }
    .info {
      display: flex;
      text-align: center;
      p {
        font-size: 18px;
        line-height: 25px;
        margin: 20px;
        color: $section-bg-color;
      }
    }
  }
  #slider-three{
    height: 448px;
    transform: translateX(35%);
    p{
      width: 700px;     
      height: 254px;
      left: 80px;
      top: 90px;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: $section-bg-color;
    }
  }
  .arrow{
    display: flex;
    justify-content: center;
    .right-arrow{
      border: 2px solid $text-color;
    }
    .left-arrow{
      margin-left: 60px;
      border: 2px solid $text-color;
    }
  }
}


@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  .carousel{
    .slider{
      #slider-one{
        display: none;
      }
      #slider-three{
        display: none;
      }
    }
  }
}

@media (max-width: 991px){
 
}