
.footer {
    background: $section-bg-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    
    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #FAF8F7;
      margin-bottom: 200px

    }
  }
  