.hero {
  padding-top: 102px;
  background-color: $section-bg-color;

  .title-wrapper {
    padding-bottom: 50px;

    .title {
      color: $text-color;
      line-height: 80px;
      padding-bottom: 20px;
    }  

    .hero-description {
      width: 452px;
      height: 76px;
      font-size: 17px;
      color: $text-color;
      font-family: $text-font-family;
    }

    .button {
      margin-top: 30px;
    }
  }

  .hero-images {
    margin-left: 32px;
  }

  .aside {
    display: flex;
    height: 158px;
    margin-bottom: 50px;
    .aside-text {
      flex-wrap: wrap;
      color: $text-color;
      font-family: $text-font-family;
      width: 212px;
      margin: 60px 0px;
    }

    .aside-images {
      display: flex;
      align-items: center;

      img {
        padding: 0 20px;
        width: 134px;
      }
    }
  }
}

/* Медиа-запросы для адаптивности */
@media only screen and (max-width: 1024px) {
  .hero {
    padding-top: 80px;
    .hero-images img{
      width: 600px;
    }
    .title-wrapper {
      .hero-title {
        font-size: 48px;
        line-height: 54px;
      }

      .hero-description {
        width: 350px;
        height: auto;
      }
    }
    .aside {
      height: auto;
      flex-wrap: wrap;
      .aside-text {
        width: 100%;
      }

      .aside-images {
        justify-content: flex-start;
        img{
          width: 90px;
          padding: 0 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 60px;
    .hero-images {
      display: none;
    }
    .aside {
      height: auto;
      flex-wrap: wrap;
      .aside-text {
        width: 100%;
        margin: 20px 0;
      }

      .aside-images {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 20px;
        img{
          width: 90px;
          padding: 0 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    padding-top: 40px;

    .title-wrapper {
      .hero-title {
        font-size: 30px;
        line-height: 32px;
      }

      .hero-description {
        width: 240px;
        height: auto;
        font-size: 14px;
      }
    }

    .button {
      width: 120px;
      height: 42px;
      font-size: 14px;
    }

    .hero-images {
      display: none;
    }

    .aside {
      height: auto;
      flex-wrap: wrap;

      .aside-text {
        width: 100%;
        margin: 20px 0;
      }

      .aside-images {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 0px;
        img {
          width: 100px;
          margin-bottom: 10px;
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .hero{
     background-size: cover;
     background-position: top left 20%;
     .hero-images img{
      width: 500px;
    }
    .aside {
      height: auto;
      flex-wrap: wrap;
      .aside-text {
        width: 100%;
      }

      .aside-images {
        flex-wrap: wrap;
        justify-content: flex-start;
        img {
          width: 90px;
          padding: 0 5px;
        }
      }
    }
  }
}