
.list-content{
  font-family: $text-font-family;
  color: $section-bg-color;
  padding-top: 102px;

    .subtitle {
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .title {
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .text {
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 15px;
    }
    .button-list{
      text-align: center;
      margin-bottom: 30px;
    }
  
  
  .list {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
  
    .items{
      flex-direction: column;
      align-items: start;
      position: relative;
      z-index: 2;
  
      .list-item {
        font-size: 31px;
        line-height: 38px;
        color: #222222;
        white-space: nowrap;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .list-item::before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 450px;
        height: 1px;
        background-color: #222222;
      }
      
      .list-item::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 450px;
        height: 1px;
        background-color: #222222;
      }
    }
  }
  
  .image-items {
    position: relative;
    left: 132px;
    img {
      filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.1));
    }
  }
  
  .image-vector-items {
    left: 104px;
    overflow: hidden;
    img {
      filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.1));
    }
  }
  
  .vector-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: auto;
    z-index: 1;
  }
}



@media only screen and (max-width: 1024px) {
  .image-items {
    left: 100px;
    img{
      width: 250px;
    }
    
  }
  .image-vector-items{
    img{
      width: 250px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .image-items {
    display: none;
  }
  .image-vector-items{
    display: none;
  }
}

@media only screen and (max-width: 480px) {

}

@media (max-width: 991px){
 
}