$button-bg-color: #42AE60;
$bg-color: rgba(39, 55, 32, 0.87);
$text-color: #ffffff;
$text-font-family: 'Roboto';
$section-bg-color: #273720;

header {
    width: 100%;
    background-color: $bg-color;
    
    .navbar {
      display: flex;
      justify-content: center;
      font-family: $text-font-family;
      .menu_nav {
      margin-top: 30px;
      text-align: center;
      display: flex;
      .link {
        text-decoration: none;
        font-size: 17px;
        margin-right: 50px;
        color: $text-color;
      }
    }
     .header-buttons {
      margin-top: -15px;
      a {
        color: $text-color;
        margin-right: 10px;
      }
    }
  } 
}
 
@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 1024px) {
  header .navbar {
    margin-left: auto; 
    .menu_nav {      
      .link {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  
}