    .subject{
    background: $section-bg-color url(../css/images/vector3.svg) no-repeat left;
    padding: 100px;
    .subject-title {
      text-align: center;
      .title {
        color: #ffffff;
        margin-bottom: 40px;
      }
    }
  }
  