@charset "UTF-8";
header {
  width: 100%;
  background-color: rgba(39, 55, 32, 0.87);
}
header .navbar {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}
header .navbar .menu_nav {
  margin-top: 30px;
  text-align: center;
  display: flex;
}
header .navbar .menu_nav .link {
  text-decoration: none;
  font-size: 17px;
  margin-right: 50px;
  color: #ffffff;
}
header .navbar .header-buttons {
  margin-top: -15px;
}
header .navbar .header-buttons a {
  color: #ffffff;
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  header .navbar {
    margin-left: auto;
  }
  header .navbar .menu_nav .link {
    margin-right: 20px;
  }
}
.hero {
  padding-top: 102px;
  background-color: #273720;
}
.hero .title-wrapper {
  padding-bottom: 50px;
}
.hero .title-wrapper .title {
  color: #ffffff;
  line-height: 80px;
  padding-bottom: 20px;
}
.hero .title-wrapper .hero-description {
  width: 452px;
  height: 76px;
  font-size: 17px;
  color: #ffffff;
  font-family: "Roboto";
}
.hero .title-wrapper .button {
  margin-top: 30px;
}
.hero .hero-images {
  margin-left: 32px;
}
.hero .aside {
  display: flex;
  height: 158px;
  margin-bottom: 50px;
}
.hero .aside .aside-text {
  flex-wrap: wrap;
  color: #ffffff;
  font-family: "Roboto";
  width: 212px;
  margin: 60px 0px;
}
.hero .aside .aside-images {
  display: flex;
  align-items: center;
}
.hero .aside .aside-images img {
  padding: 0 20px;
  width: 134px;
}

/* Медиа-запросы для адаптивности */
@media only screen and (max-width: 1024px) {
  .hero {
    padding-top: 80px;
  }
  .hero .hero-images img {
    width: 600px;
  }
  .hero .title-wrapper .hero-title {
    font-size: 48px;
    line-height: 54px;
  }
  .hero .title-wrapper .hero-description {
    width: 350px;
    height: auto;
  }
  .hero .aside {
    height: auto;
    flex-wrap: wrap;
  }
  .hero .aside .aside-text {
    width: 100%;
  }
  .hero .aside .aside-images {
    justify-content: flex-start;
  }
  .hero .aside .aside-images img {
    width: 90px;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 60px;
  }
  .hero .hero-images {
    display: none;
  }
  .hero .aside {
    height: auto;
    flex-wrap: wrap;
  }
  .hero .aside .aside-text {
    width: 100%;
    margin: 20px 0;
  }
  .hero .aside .aside-images {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .hero .aside .aside-images img {
    width: 90px;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    padding-top: 40px;
  }
  .hero .title-wrapper .hero-title {
    font-size: 30px;
    line-height: 32px;
  }
  .hero .title-wrapper .hero-description {
    width: 240px;
    height: auto;
    font-size: 14px;
  }
  .hero .button {
    width: 120px;
    height: 42px;
    font-size: 14px;
  }
  .hero .hero-images {
    display: none;
  }
  .hero .aside {
    height: auto;
    flex-wrap: wrap;
  }
  .hero .aside .aside-text {
    width: 100%;
    margin: 20px 0;
  }
  .hero .aside .aside-images {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .hero .aside .aside-images img {
    width: 100px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 20%;
  }
  .hero .hero-images img {
    width: 500px;
  }
  .hero .aside {
    height: auto;
    flex-wrap: wrap;
  }
  .hero .aside .aside-text {
    width: 100%;
  }
  .hero .aside .aside-images {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .hero .aside .aside-images img {
    width: 90px;
    padding: 0 5px;
  }
}
.list-content {
  font-family: "Roboto";
  color: #273720;
  padding-top: 102px;
}
.list-content .subtitle {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.list-content .title {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list-content .text {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.list-content .button-list {
  text-align: center;
  margin-bottom: 30px;
}
.list-content .list {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.list-content .list .items {
  flex-direction: column;
  align-items: start;
  position: relative;
  z-index: 2;
}
.list-content .list .items .list-item {
  font-size: 31px;
  line-height: 38px;
  color: #222222;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-content .list .items .list-item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 450px;
  height: 1px;
  background-color: #222222;
}
.list-content .list .items .list-item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 450px;
  height: 1px;
  background-color: #222222;
}
.list-content .image-items {
  position: relative;
  left: 132px;
}
.list-content .image-items img {
  filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.1));
}
.list-content .image-vector-items {
  left: 104px;
  overflow: hidden;
}
.list-content .image-vector-items img {
  filter: drop-shadow(0px 12px 27px rgba(0, 0, 0, 0.1));
}
.list-content .vector-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  height: auto;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .image-items {
    left: 100px;
  }
  .image-items img {
    width: 250px;
  }
  .image-vector-items img {
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .image-items {
    display: none;
  }
  .image-vector-items {
    display: none;
  }
}
.carousel {
  background: #273720;
  height: 912px;
  overflow-x: hidden;
  font-family: "Roboto";
}
.carousel .title {
  text-align: center;
  color: #ffffff;
  padding-top: 119px;
}
.carousel .slider {
  background: #FFFFFF;
  border-radius: 40px;
  width: 864px;
  margin-top: 57px;
  padding: 120px 80px;
  margin-bottom: 30px;
}
.carousel #slider-one {
  height: 448px;
  transform: translateX(-85%);
}
.carousel #slider-one p {
  width: 700px;
  height: 254px;
  left: 80px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #273720;
}
.carousel #slider-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px 80px;
  transform: translateX(-25%);
  background: #D2EBD5;
}
.carousel #slider-two p {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #273720;
}
.carousel #slider-two .info {
  display: flex;
  text-align: center;
}
.carousel #slider-two .info p {
  font-size: 18px;
  line-height: 25px;
  margin: 20px;
  color: #273720;
}
.carousel #slider-three {
  height: 448px;
  transform: translateX(35%);
}
.carousel #slider-three p {
  width: 700px;
  height: 254px;
  left: 80px;
  top: 90px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #273720;
}
.carousel .arrow {
  display: flex;
  justify-content: center;
}
.carousel .arrow .right-arrow {
  border: 2px solid #ffffff;
}
.carousel .arrow .left-arrow {
  margin-left: 60px;
  border: 2px solid #ffffff;
}

@media only screen and (max-width: 480px) {
  .carousel .slider #slider-one {
    display: none;
  }
  .carousel .slider #slider-three {
    display: none;
  }
}
.subject {
  background: #273720 url(../css/images/vector3.svg) no-repeat left;
  padding: 100px;
}
.subject .subject-title {
  text-align: center;
}
.subject .subject-title .title {
  color: #ffffff;
  margin-bottom: 40px;
}

.footer {
  background: #273720;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
}
.footer .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FAF8F7;
  margin-bottom: 200px;
}

.button {
  width: 144px;
  height: 54px;
  color: #ffffff;
  background: #42AE60;
  border-radius: 6px;
  border: none;
}

@media only screen and (max-width: 480px) {
  .button {
    width: 120px;
    height: 42px;
    font-size: 14px;
  }
}
.title {
  font-size: 74px;
  line-height: 80px;
  font-family: "Roboto";
}
